/* SidebarLayout.css */
.sidebar-layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed; /* Fixed position to keep it in place */
    top: 0;
    left: 0;
    width: 300px;
    height: 100%; /* Full height to cover the viewport height */
    background-color: #747958;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Allow scrolling if content exceeds height */
}

.logo {
    margin-bottom: 20px;
}

.logo-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.text {
    margin-bottom: 20px; 
    color: white; 
    text-align: center; 
}

.text h1 {
    font-size: 2.5rem; 
    font-weight: bold; 
}

.sidebar-options {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar-options li {
    margin-bottom: 15px;
}

.sidebar-link {
    display: block;
    padding: 15px;
    background-color: #a3a88a;
    color: #333;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar-link:hover {
    background-color: #dee2e6;
}


.content {
    margin-left: 300px; 
    background-color: #f1f3f5;
    flex-grow: 1; 
    overflow-y: auto; 
}
