.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .btn {
    margin-left: auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.4em;
}

.modal-body {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
}

button {
    margin: 10px;
}

.bold-text {
    font-weight: bold;
}
