.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #747958; /* Màu nền header để dễ nhìn */
    position: sticky; /* Giữ header cố định khi scroll */
    top: 0;
    z-index: 1000; /* Đảm bảo header nằm trên mọi thành phần khác */
}

.list {
    margin-top: 40px; /* Đẩy danh sách xuống dưới header */
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.4em;
}

.modal-body {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
}

button {
    margin: 10px;
}

.bold-text {
    font-weight: bold;
}

.list {
    margin-top: 100px;
    padding-top: 100px; /* Điều chỉnh để đảm bảo phần list không bị che bởi header */
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}
