.home-container {
  padding-left: 5px;
  background-color: #dee1d7;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #747958;
  color: #dee1d7;
  position: fixed;
  width: 100%;
}

.header h1 {
  font-size: 4rem;
  padding-right: 250px;
}

.post-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 10%;
}

.post-input-field {
  flex: 1;
  border: 1px solid #747958;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #747958;
}

.posts {
  margin-top: 20px;
}

.post-container {
  padding-bottom: 2%;
  margin-left: 7%;
  margin-right:5%;
}

.account {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
  font-size: 16px;
  color: #747958;
}

.post-item {
  border: 2px solid #747958;
  padding: 20px;
  background-color: #dee1d7;
}

.post-content {
  font-size: 16px;
}

.read-more {
  margin-top: 10px;
  color: #747958;
  border: none;
  background: none;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.actions button {
  margin-right: 10px;
}

.comments {
  margin-top: 15px;
}

.comment-item {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.action-button {
  border: none;
  background: none;
  cursor: pointer;
  color: #747958;
  font-size: 1.5rem;
  margin-right: 10px;
}

.header-icons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #dee1d7;
}

.icon-button:hover {
  color: #8F9668;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.post-content {
  margin-bottom: 20px;
}

.comments {
  margin-bottom: 20px;
}

.comment-item {
  margin-bottom: 10px;
}

.comment-username {
  font-weight: bold;
}

.comment-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.comment-button,
.post-button,
.close-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.close-button {
  background-color: #6c757d;
}
