.std-container {
    background-color: #dee1d7;
}
/* Container cho các item sinh viên */
.students-container {
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử tự động xuống hàng khi cần */
    gap: 20px; /* Khoảng cách giữa các phần tử */
    margin: 20px; /* Khoảng cách của container với các phần tử khác */
    justify-content: space-between;
}

/* Style cho mỗi phần tử sinh viên */
.student-item {
    width: 48%; /* Mỗi phần tử chiếm 50% chiều rộng của container, trừ khoảng cách giữa các phần tử */
    text-align: center;
    box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước phần tử */
    padding: 16px 0;
    margin-top: 12px;
    border: 1px solid #ddd; /* Đường viền mỏng */
    border-radius: 5px; /* Bo góc */
    background-color: #fff; /* Nền trắng */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    /* Tùy chỉnh kiểu chữ và căn chỉnh */
    min-width: 300px; /* Đảm bảo mỗi item có chiều rộng tối thiểu */
}

/* Tiêu đề của trang */
.student-header {
    display: flex; /* Use Flexbox */
    align-items: center; /* Center align vertically */
    justify-content: center; /* Center align horizontally */
    text-align: center;
    margin-bottom: 20px;
    background-color: #747958;
    height: 100px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 350px;
    padding-right: 350px;
}

/* Tiêu đề sinh viên */
.student-title {
    font-size: 24px;
    color: WHITE;
    font-weight: bold;
    width: 500px;
}

.students-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.students-table th,
.students-table td {
    text-align: center; /* Center align text */
    padding: 8px; /* Add padding for spacing */
    border: 1px solid #747958; /* Add border for table cells */
}

.students-table th {
    background-color: #747958; /* Add a background color to headers */
    font-weight: bold;
    color: white;
}

.students-table tbody tr:hover {
    background-color: #f9f9f9; /* Add hover effect for table rows */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.search-container .form-control {
    height: 140%;
}

.add-btn {
    width: 16%;
    height: 140%;
    margin-left: 10px;
}

/* Đảm bảo danh sách ngành nằm ngay dưới ô input */
.major-list {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    text-align: left; /* Canh trái nếu cần */
}

/* Style cho mỗi mục trong danh sách ngành */
.major-item {
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.major-item:hover {
    background-color: #f8f9fa;
}
