.profile-container {
    background-color: #dee1d7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-right: 15px;
    padding-left: 15px;
}

.profile-header {
    position: relative; /* Ensure that child elements with absolute positioning are relative to this container */
    background-color: #747958;
    padding: 40px 20px;
    margin-bottom: 100px; /* Space for the avatar */
    text-align: center;
    padding-bottom: 140px;
    overflow: hidden; /* Prevents content from overflowing and creating horizontal scrollbars */
}

.profile-header-actions {
    position: absolute; /* Position absolutely within the header */
    bottom: 10px; /* Align at the bottom of the header */
    right: -90%; /* Align 10px from the right edge */
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #dee1d7;
}

.profile-icon {
    margin-left: 15px; /* Space between icons */
    cursor: pointer;
}

.profile-title {
    color: white;
    font-size: 3rem;
    position: relative;
}

.profile-avatar img {
    border: 2px solid white; /* Adds a white border around the avatar */
    border-radius: 50%; /* Ensures the border is circular */
}

.profile-avatar {
    position: absolute;
    top: 30%; /* Center the avatar under the "PROFILE" title */
    padding-left: 83%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}


.profile-content {
    background-color: #dee1d7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #747958;
    text-align: center; /* Center-aligns text within this container */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

.profile-info {
    text-align: center; /* Ensures text inside .profile-info is centered */
}

.profile-info p {
    margin: 5px 0;
    font-weight: bold;
    color: #747958;
}

.camera-icon {
    position: absolute;
    bottom: 10%;
    right: 6%;
    font-size: 50px;
    color: white;
    background-color: #747958;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid white; /* Adds a white border around the icon */
    z-index: 2;
    transform: translate(50%, 50%);
}

.input-wrapper {
    position: relative;
}

.icon-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.button{
    background-color: #747958;
    border: 0cm;
}

.button:hover{
    background-color: #a3a88a;
}